<a id="pandas_import_data"></a>
## Importing Data

When you are importing data, you’ll usually do it in one of three different ways:

1. Open a local file using Pandas, usually a CSV file, but could also be a delimited text file (TSV,PSV), Excel, JSON, etc
   - There are several functions in pandas to import local files, but the main ones are [```pd.read_csv```](https://pandas.pydata.org/pandas-docs/version/0.22/generated/pandas.read_csv.html#pandas.read_csv), [```pd.read_excel```](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html), and [```pd.read_table```](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_table.html).

In [ ]:
#The first arguement of read_csv is your file name.
pd.read_csv('data.csv')

#Reading in an Excel file is the same just specify what sheet you want to read.
pd.read_excel('data.xlsx', sheet_name='sheet1')

#To read in a TSV, PSV, or another delimited file you can use read_table just set what delimiter your are using.
pd.read_table('data.txt', sep = '\t') #For a TSV
pd.read_table('data.txt', sep =  '|') #For a PSV

2. Open a remote database like SQL.
    - You can use [```read_sql_table```](https://pandas.pydata.org/pandas-docs/version/0.22/generated/pandas.read_sql_table.html#pandas.read_sql_table) to read in an existing table or [```read_sql_query```](https://pandas.pydata.org/pandas-docs/version/0.22/generated/pandas.read_sql_query.html#pandas.read_sql_query) to write a query and save it.

3. Convert a Python’s list, dictionary or Numpy array to a Pandas data frame.
    - You will use [```DataFrame```](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html) for these conversions.

##### List to a DataFrame

In [4]:
import pandas as pd

mylist  = [['New York City', 'New York', 8600000] ,
             ['Houston', 'Texas', 2300000 ] ,
             ['Los Angeles', 'California', 4000000]]

pd.DataFrame(mylist,columns = ['City','State','Population'])

            City       State  Population
0  New York City    New York     8600000
1        Houston       Texas     2300000
2    Los Angeles  California     4000000

##### Dictionary to a DataFrame

In [5]:
data = {'col_1': [3, 2, 1, 0], 'col_2': ['a', 'b', 'c', 'd']}

pd.DataFrame.from_dict(data)

   col_1 col_2
0      3     a
1      2     b
2      1     c
3      0     d

##### Numpy Array to a DataFrame

In [6]:
import numpy as np

data = np.array([[5.8, 2.8], [6.0, 2.2]])

pd.DataFrame({'Column1': data[:, 0], 'Column2': data[:, 1]})
#or
pd.DataFrame(data, columns=['Column1','Column2'])

   Column1  Column2
0      5.8      2.8
1      6.0      2.2